.sl_password
.curseclient

minecraftinstance.json
patchouli_data.json
TrashSlotSaveState.json
usercache.json
usernamecache.json

options.txt
wd_keyboard_warning.txt
wd_next.txt
knownkeys.txt

servers.dat_old

backups
logs
xaero
wd_filehost
scripts
screenshots
schematics
saves
pathouli_books
modernfix
local
easy_npc
downloads
crash-reports
bluemap
mcef-cache
mcef-libraries
resourcepacks

*.log